

<button
>AtoZ</button>
<label for="animNo">Enter number of animals: </label>
<input type="text" id="animNo" className="animNo" />
<input type="button" value="Search" id="search" className="search" />
<button class="addBtn"
>Add Animal</button>

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Animal Name</th>
            <th>Number of Animals</th>
        </tr>

    </thead>

    <tbody class="tableBody">

       

    </tbody>

</table>
